.scroll {
  display: flex;         
  overflow-x: auto;      
  overflow-y: hidden;   
  width: 100%;          
  gap: 15px;            
   
}

.item {
  flex-shrink: 0;      
  width: 200px;         
  height: 200px;        
  background: #8d780493;     
}

.item:hover {
   
}

img {
    width: 200px;
    height: 150px;
}

body {
    background-image: url(fundo.png);
    background-attachment: ; /*fixo ou não ?*/
    background-size: cover;
    background-repeat: no-repeat;
}

#logo {
    width: 200px;
    margin-left: 50%;
}

h1 {
    font-family: não sei;
    margin-top: 25%;
}

#zapzap {
    height: 150px;
    margin-top: 100%;
}

#catalogo {
    
}